@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 226 68% 20%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 226 68% 20%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;
    --accent: 160 84% 39%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13% 91%;
    --input: 215 16% 47%;
    --ring: 160 84% 39%;
    --radius: 0.625rem;
  }
}

@media print {
  .no-print { display: none !important; }
  .print-only { display: block !important; }
}

html:fullscreen #main-navbar {
  display: none !important;
}
html:fullscreen [data-page="speaking"] {
  height: 100vh !important;
}
html:fullscreen [data-page="speaking"] > div {
  height: 100vh !important;
}
